<template>
    <div v-editable="blok">
        <Header />
        <div class="bg-grey-lightest text-right pt-16 pb-8 w-full flex justify-center">
            <div class="max-w-lg w-full px-8">
                <h2 v-editable="blok" class="font-sans mb-4 text-grey-dark tagline">
                    {{ formatDate(blok.date) }}
                </h2>
                <h3 class="font-sans text-sm mb-12 text-grey-dark author">
                    Benjamin Harrington
                </h3>
                <h1 v-editable="blok" class="text-5xl text-center font-serif font-bold text-grey-darker headline">
                    {{ blok.title }}
                </h1>
            </div>
        </div>
        <div class="mt-8 w-full flex justify-center">
            <article class="bg-white text-xl leading-normal font-sans text-grey-darkest py-8 max-w-lg" v-html="convertBlokContent(blok.content)">
            </article>
        </div>
    </div>
</template>

<script>
var showdown = require('showdown')
var moment = require('moment')

import Header from './partials/Header.vue'

export default {
  props: ['blok'],
  data () {
    return {
        converter: new showdown.Converter()
    }
  },
  methods: {
    convertBlokContent: (markDown) => {
        let converter = new showdown.Converter();
        return converter.makeHtml(markDown)
    },
    formatDate: (date) => {
        return moment().format("MMMM Do YYYY")
    }
  },
  components: {
    Header
  }
}
</script>

<style>

article p {
    margin-bottom: 1.5rem;
}

</style>
