<template>
  <div class="w-full flex justify-center">
    <div v-editable="blok" class="grid max-w-lg w-full">
      <component :key="blok._uid" v-for="blok in blok.columns" :blok="blok" :is="blok.component | dashify"></component>
    </div>
  </div>
</template>

<script>
export default {
  props: ['blok']
}
</script>
