<template>
  <div class="bg-grey-lightest text-right px-32 pt-16 pb-8 flex justify-center">
    <div class="max-w-lg w-full">
      <h1 v-editable="blok" class="text-5xl mb-4 font-serif font-bold text-grey-darkest headline">
        {{ blok.headline }}
      </h1>
      <h2 v-editable="blok" class="font-sans text-grey-dark tagline">
        {{ blok.tagline }}
      </h2>
    </div>
  </div>
</template>

<script>
export default {
  props: ['blok']
}
</script>
