<template>
  <div v-editable="blok" class="w-full">
    <article class="px-8 py-6 mx-4 my-2 text-sm bg-grey-lightest text-center rounded-lg shadow max-w-1/3" v-for="article in $store.state.articles" :key="article.id">
      <header>
        <h4 class="font-serif font-bold text-2xl mb-6 text-grey-darkest">{{ article.content.title }}</h4>
      </header>
      <p class="mb-8 leading-normal text-grey-darker">{{ article.content.excerpt }}</p>
      <a :href="article.full_slug" class="no-underline font-sans uppercase font-bold text-white bg-orange px-4 py-2 text-xs rounded-lg shadow hover:bg-orange-dark">Read More</a>
    </article>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

export default {
  props: ['blok'],
  methods: {
    ...mapActions([
      'loadLatestArticles'
    ])
  },
  mounted () {
    this.loadLatestArticles();
  }
}
</script>
