<template>
  <div v-editable="blok">
    <Header/>
    <component :key="blok._uid" v-for="blok in blok.body" :blok="blok" :is="blok.component | dashify"></component>
  </div>
</template>

<script>
import Header from './partials/Header.vue'

export default {
  props: ['blok'],
  components: {
    Header
  }
}
</script>
