<template>
  <header id="site-header" class="w-full bg-orange px-32 py-4 flex justify-center">
    <div class="flex justify-end max-w-lg w-full">
      <nuxt-link to="/">Home</nuxt-link>
      <nuxt-link to="/articles">Articles</nuxt-link>
      <nuxt-link to="/about">About</nuxt-link>
      <nuxt-link to="/projects">Projects</nuxt-link>
    </div>
  </header>
</template>

<script>
  export default {
    name: 'Header'
  }
</script>

<style lang="scss">

#site-header {

  a {
    text-decoration: none;
    font-weight: 700;
    font-family: 'Dosis';
    color: #FEFEFE;
    text-transform: uppercase;

    &:not(last-child) {
      margin-right: 2rem;
    }
  }
}

</style>
